.collapsible-header {
    margin-top: 10px;
    padding: 5px 10px;
    color: white;
    background-color: #1B447E;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.collapsible-container > .collapsible-content {
    margin-top: 5px;
    font-size: 12px;
    padding: 5px 20px;
    background-color: #F5F5F5;
}